<gazebo>
    <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
        <!-- Front Left and Right Wheels -->
        <leftFrontJoint>front_left_wheel_joint</leftFrontJoint>
        <rightFrontJoint>front_right_wheel_joint</rightFrontJoint>

        <!-- Rear Left and Right Wheels -->
        <leftRearJoint>back_left_wheel_joint</leftRearJoint>
        <rightRearJoint>back_right_wheel_joint</rightRearJoint>

        <!-- Skid-steering parameters -->
        <wheel_separation>0.35</wheel_separation>
        <wheel_diameter>0.1</wheel_diameter>

        <!-- Control parameters -->
        <max_wheel_torque>200</max_wheel_torque>
        <max_wheel_acceleration>10.0</max_wheel_acceleration>

        <!-- Odometry configuration -->
        <odometry_frame>odom</odometry_frame>
        <robot_base_frame>base_link</robot_base_frame>

        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>

        <!-- Four-wheel drive control -->
        <use_4wd>true</use_4wd>
    </plugin>
</gazebo>
